<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>SSO @(ViewData["Title"] != null ? ViewData["Title"] : "")</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
        <link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        @await RenderSectionAsync("Styles", required: false)
    </head>
    <body id="kt_body">
        <script>let defaultThemeMode = "dark"; let themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "dark"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
        <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed auth-page-bg">
            <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
                <a href="/ceres-html-free/index.html" class="mb-12">
                    <img src="~/media/logo-light.svg" class="h-30px theme-light-show" alt="Logo"/>
                    <img src="~/media/logo-default.svg" class="h-30px theme-dark-show" alt="Logo"/>
                </a>
                <div class="w-lg-500px bg-body rounded shadow-sm p-5 p-lg-15 mx-auto">
                    @RenderBody()
                </div>
            </div>
            <div class="d-flex flex-center flex-column-auto p-10">
                <div class="d-flex align-items-center fw-semibold fs-6">
                    <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
                    <a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
                    <a href="https://keenthemes.com/products/ceres-html-pro" class="text-muted text-hover-primary px-2">Contact Us</a>
                </div>
            </div>
        </div>
        <script src="~/plugins/global/plugins.bundle.js"></script>
        <script src="~/js/scripts.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>