@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (string.IsNullOrEmpty(Model.Error) && string.IsNullOrEmpty(Model.ErrorDescription))
{
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <div class="alert alert-danger text-center" role="alert">
        <div class="alert-text fs-6 fw-bolder">@Model.Error</div>
        <div class="alert-text">@Model.ErrorDescription</div>
    </div>
}